.main-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem;
  padding: 1rem;
background: #757F9A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.user{
  display: flex;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);

}